############################################
#----  Debian PreAnsible preseed file  ----#
############################################
#
# Installs a Debian minimal with everything ready 
# to have ansible continue
# 
# Asks for the root password and how the hard
# drive should be partitioned.
#
d-i preseed/include string  parts/locale.cfg                  \
                            parts/network.cfg                 \
                            parts/user/rootUser.cfg           \
                            parts/packages.cfg                \
                            parts/clock.cfg                   \
                            parts/bootloaderFinish.cfg
